---
  - name: Update and upgrade apt packages
    apt:
      upgrade: yes
      update_cache: yes
      cache_valid_time: 86400 

  - name: Download the lets encrypt client (certbot)
    become: yes
    apt:
      name: certbot
      state: present

  - name: Download the Python3 Certbot NGINX
    become: yes
    apt:
      name: python3-certbot-nginx
      state: present

  - name: Install NGINX From Apt-Get
    become: yes
    apt:
      name: nginx
      state: present

  - name: Disable NGINX Default Virtual Host
    become: yes
    command:
      cmd: rm -f /etc/nginx/sites-enabled/default


  - name: Check for NGINX Config File
    stat:
      path: /etc/nginx/conf.d/{{ domain_name }}.conf
    register: config_file_data

  - name: Delete the NGINX Config File if it exists
    become: yes
    command:
      cmd: rm -f /etc/nginx/conf.d/{{ domain_name }}.conf
    when: config_file_data.stat.exists

  - name: Create the NGINX Config File
    file:
      path: /etc/nginx/conf.d/{{ domain_name }}.conf
      state: touch
  
  - name: Edit the NGINX Config File
    become: yes
    blockinfile:
        path: /etc/nginx/conf.d/{{ domain_name }}.conf
        marker: ""
        block: |
          server {
            listen 80 default_server;
            listen [::]:80 default_server;
            root /var/www/html;
            server_name {{ domain_name }};

            location / {
              proxy_pass {{ server_url }};
              proxy_set_header Authorization "";
              proxy_read_timeout 90s;
            }

            # WARNING: changing the line below may affect ansible roles using it to append additional config below
            # <!-- INSERT ADDITIONAL CONFIG BELOW -->
          }
  
  - name: Make Sure NGINX Service Is Running
    become: yes
    service:
      name: nginx
      state: restarted
      enabled: yes

  - name: Obtain the SSL/TLS Certificate
    become: yes
    become_user: root
    shell:
      cmd: sudo certbot --nginx --non-interactive -d {{ domain_name }} --agree-tos -m {{ cert_email }}
    args:
      executable: /bin/bash
