[Unit]
Description=Runs crossposting-image-update every 3 minutes
Requires=crossposting-image-update.service

[Timer]
Unit=crossposting-image-update.service
OnUnitActiveSec=3m

[Install]
WantedBy=timers.target
