[Unit]
Description = Node Exporter: prometheus exporter for machine metrics

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.textfile.directory=/var/lib/node_exporter/textfile_collector
Restart=always

[Install]
WantedBy=default.target
